.container
  .row
    .col-10.offset-1
      %h2.text-center Groups you have created
      %table.table.table-bordered.table-hover
        %thead.bg-primary.text-white
          %tr
            %th Group Name
            %th Actions
            %th Marks
        %tbody
          -if @groups.present?
            -@groups.each do |group|
              %tr
                %td=group.name
                %td=link_to "Edit", edit_group_path(group)
                %td= group.score.present? ? group.score : (link_to "Add Marks", edit_group_path(group,add_marks: true))
          -else
            %tr
              %td{colspan: 3}= "No Groups to show"
  .row.float-right
    .col-12
      =link_to "Create Group", new_group_path, class: 'btn btn-success mt-5'
